body{
	background-color: orangered;
}

p{
    font-family: 'Alegreya';font-size: 22px;
}

h1{
	font-size: 80px;
	position: absolute;
	top: 520px;
	left: 590px;
}

.Image1{
	position: absolute;
	left: 380px;
}

p{
	position: absolute;
	top: 750px;
}

.Image2{
	position: absolute;
	top: 1250px;
}

.Image3{
	position: absolute;
	top: 1250px;
	left: 410px;
}